<div class="parallax">
	<%= image_tag ("movie-1242453.jpg") %>
</div>
<div class="container">
	<h1>Stephen Durr</h1>
	<p>I am the ultimate film producer!!</p>
	<div class="responsive">
		<iframe width="100%" height="650px" src="https://www.youtube.com/embed/5BvjthC-Eys" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="space"></div>
	<div class="responsive">
		<iframe width="100%" height="650" src="https://www.youtube.com/embed/aCGpOI8MC5Y" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
